

<div class="nav">
  <div class="container">
    <div class="logo">
      <ul style="float:left;">
        <li><a href="">Skalbard</a></li>
      </ul>
    </div>

    <ul>
      <li><a href="">About</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Sign In</a></li>
      <li><a class="button-transparent" href="">Sign Up</a></li>
    </ul>

  </div>
</div>


<div class="main">
	<div class="container">
		<p>Victory</p>
		<h1>Starts with You</h1>

                <div class="button-colored">
                  <a href="">Learn More</a>
                </div>

	</div>
</div>

